[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = xiangxing98
	email = xiangxing985529@163.com
[core]
	autocrlf = true
	excludesfile = D:\\用户目录\\我的文档\\gitignore_global.txt
	editor = 'D:/Program Files/Sublime Text 3/sublime_text.exe' -n -w
[push]
	default = upstream
[merge]
	conflictstyle = diff3
