# config文件在C:\Users\你的用户名\.gitconfig
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[alias]
    co = checkout
    ci = commit
    br = branch
    st = status
    unstage = 'reset HEAD'
    last = 'log -1'
    lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
[user]
	name = xiangxing98
	email = xiangxing985529@163.com
[core]
	autocrlf = true
	excludesfile = D:\\用户目录\\我的文档\\gitignore_global.txt
	editor = 'D:/Program Files/Sublime Text 3/sublime_text.exe' -n -w
	quotepath = false	
[push]
	default = upstream
[merge]
	conflictstyle = diff3
